body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


img {
    height: 100px;
}

h3 {
    text-align: center;
}

#newGame {
    margin: 30px 0px 10px 0px;
    padding: 5px 5px;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;

}

#lives {
    margin: 10px 0px;
}
#wins {
    margin: 10px 0px;
}

#tried {
    margin-top: 20px;
    font-weight: bold;
}

#newGame:hover {
    border: 2px solid black;
}

button {

        background: none;
        color: inherit;
        border: none;
        padding: 10px;
        margin: 5px;
        font: inherit;

}